@font-face {
  font-family: "iconfont"; /* Project id 3871928 */
  src: url('iconfont.woff2?t=1675000233204') format('woff2'),
       url('iconfont.woff?t=1675000233204') format('woff'),
       url('iconfont.ttf?t=1675000233204') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 21px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: orange;
}

.icon-hongbao:before {
  content: "\e6da";
}

.icon-history:before {
  content: "\e6f8";
}

.icon-rmb:before {
  content: "\e761";
}

.icon-gouwuche:before {
  content: "\e63f";
}

.icon-erweima:before {
  content: "\e642";
}

.icon-shezhi:before {
  content: "\e64b";
}

.icon-shouhuodizhi:before {
  content: "\e64e";
}

.icon-shouye:before {
  content: "\e64f";
}

.icon-shuaxin:before {
  content: "\e650";
}

.icon-sousuo1:before {
  content: "\e651";
}

.icon-wodedingdan:before {
  content: "\e658";
}

.icon-wodefankui:before {
  content: "\e659";
}

.icon-wodejuhuasuan:before {
  content: "\e65b";
}

.icon-xiala:before {
  content: "\e65d";
}

.icon-xiaoxizhongxin:before {
  content: "\e665";
}

.icon-sousuo:before {
  content: "\e6e4";
}

.icon-xianxing-09:before {
  content: "\e654";
}

.icon-xianxing-15:before {
  content: "\e655";
}

.icon-xianxing-13:before {
  content: "\e656";
}

.icon-xianxing-25:before {
  content: "\e657";
}

.icon-xianxing_shangdian:before {
  content: "\e65c";
}

.icon-morentouxiang:before {
  content: "\e60a";
}

.icon-youhuiquan:before {
  content: "\e613";
}

