<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/commoditydetailpage.css">
    <link rel="shortcut icon" href="https://www.suning.com/favicon.ico">
</head>
<body>
    <div>
        <div class="toptop">
            <div class="header">
                <div class="header1">
                    <a href="">网站导航</a>
                    <a href="">商家入驻</a>
                    <a href="">客户服务</a>
                    <a href="">杭州</a>
                </div>
                <div class="header2">
                    <a href="">请登录</a>
                    <a href="">注册有礼</a>
                    <a href="">我的订单</a>
                    <a href="">我的易购</a>
                    <a href="">苏宁会员</a>
                    <a href="">购物车</a>
                    <a href="">易付宝</a>
                    <a href="">企业采购</a>
                    <a href="">手机苏宁</a>
                </div>
            </div>
        </div>
        <div class="top0">
            <div class="top1">
                <div class="logo"></div>
                <div class="store">
                    <div></div>
                    <div></div>
                </div>
            </div>
            
            <div class="searchbox">
                <form action="">
                    <input type="text" name="search" id="searchbox">
                    <button class="yigou">搜易购</button>
                    <button class="this">搜本店</button>
                </form>
            </div>
        </div>
    </div>
    <div class="ad"></div>
    <div class="top">
        <div class="kinds">
                <div class="dropdown">
                  <button class="dropbtn">本店所有商品</button>
                  <div class="dropdown-content">
                    <a href="#">所有商品</a>
                    <a href="#">冰箱</a>
                    <a href="#">空调</a>
                    <a href="">洗衣机</a>
                    <a href="">热水器</a>
                    <a href="">厨电</a>
                    <a href="">彩电</a>
                    <a href="">冰吧冰柜</a>
                    <a href="">洗碗机</a>
                    <a href="">浴霸</a>
                  </div>
                </div>
                <ul>
                    <li>首页</li>
                    <li>冰箱</li>
                    <li>洗衣机</li>
                    <li>空调</li>
                    <li>热水器</li>
                    <li>厨电</li>
                    <li>彩电</li>
                    <li>冷柜</li>
                    <li>净水器</li>
                </ul>
        </div>
    </div>
<div class="index0">
    <div class="index">
        <div class="index1">
        <div class="left1"><a href="">大家电</a></div>
        <span class="left2">></span>
        <div class="left1">
            <span><a href="">冰箱/冷柜</a></span>
            <i></i>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <span class="left2">></span>
        <div class="left1">
            <span><a href="">冰箱</a></span>
            <i></i>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <span class="left2">></span>
        <div class="left1">
            <span><a href="">海尔(Haier)</a></span>
            <i></i>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <span class="left2">></span>
        <span><a href="">海尔(Haier)BCD-515WDPD冰箱</a></span>
        </div>
        <div>
            <spn><a href="">旗舰店</a></spn>
            <spn><a href="">联系客服</a></spn>
        </div>
    </div>
</div>
<div class="main">
    <div class="lunbo"></div>
    <div class="details"></div>
    <div class="another"></div>
</div>
    
</body>
</html>