<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="shortcut icon" href="https://www.suning.com/favicon.ico">
</head>
<body>
    <div class="toptop">
        <img src="../images/maintop.jpg" />
        <span>X</span>
    </div>
        <div class="header">
        <div class="header1">
            <a href="">网站导航</a>
            <a href="">商家入驻</a>
            <a href="">客户服务</a>
            <a href=""></a>
        </div>
        <div class="header2">
            <a href="./login.html" class="">请登录</a>
            <a href="./register.html" class="">注册有礼</a>
            <a href="./mysuning.html" class="none"><span id="phonenum">123******45</span></a>
            <a href="">我的订单</a>
            <a href="">我的易购</a>
            <a href="">苏宁会员</a>
            <a href="">购物车</a>
            <a href="">易付宝</a>
            <a href="">企业采购</a>
            <a href="">手机苏宁</a>
        </div>
        </div>
<div class="top">
    <div class="search">
        <div class="searchbox flex">
            <img src="../images/logo.png">
            <div>
                <div class="flex">
                    <input type="text" class="box">
                    <button class="btn">搜索</button>
                </div>
                <div class="q flex">
                    <a href="">手机</a>
                    <a href="">冰箱</a>
                    <a href="">电视</a>
                    <a href="">ipad</a>
                    <a href="">热水器</a>
                    <a href="">沙发</a>
                    <a href="">电饭煲</a>
                    <a href="">电动车</a>
                    <a href="">茅台</a>
                    <a href="">尿不湿</a>
                    <a href="">红枣</a>
                </div>
            </div>      
        </div>
        <div>
            <a href="" class="index">
                <i></i>
                <spam>分类</spam>
            </a>
            <div class="fenlei1">
                <img src="../images/dajuhui.png" />
                <a href="">苏宁家电</a>
                <a href="">手机数码</a>
                <a href="">苏宁超市</a>
                <a href="">家具建材</a>
                <a href="">生活家电</a>
                <a href="">帮客服务</a>
                <a href="">药品信息</a>
            </div>
            <div>
                <img src="../images/gongshi.png" id="gongshi"/>
            </div>
        </div>
    </div>
</div>

    <div class="mainmain">
    <div class="main">
        <div class="classify">
            <ul>
                <li>
                    <a href="">空调</a>
                    <em>/</em>
                    <a href="">冰箱</a>
                    <em>/</em>
                    <a href="">洗衣机</a>
                </li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="lunbotu">
            <div class="images">
                <div class="img current">
                    <a href="#"><img src="../images/lunbo1.jpg" alt=""></a>
                </div>
                <div class="img">
                    <a href="#"><img src="../images/lunbo2.jpg" alt=""></a>
                </div>
                <div class="img">
                    <a href="#"><img src="../images/lunbo3.jpg" alt=""></a>
                </div>
                <div class="img">
                    <a href="#"><img src="../images/lunbo4.jpg" alt=""></a>
                </div>     
            </div>

            <img src="../images/nianhuojie.png" class="nianhuojie"/>
            <span class="zuo"></span>
            <span class="you"></span>
            <ul class="dots">
                <li class="1 active"></li>
                <li class="2"></li>
                <li class="3"></li>
                <li class="4"></li>
            </ul>
            <div class="lunbobottom">
                <a href=""><img src="../images/lunbobottom1.png" /></a>
                <a href=""><img src="../images/lunbobottom2.png" /></a>
                <a href=""><img src="../images/lunbobottom3.png" /></a>
                <a href=""><img src="../images/lunbobottom4.png" /></a>
            </div>
        </div>
        <div class="login"></div>
    </div>
    </div>
    <div class="width">
        <div class="flex1">
            <div class="classify1">
                <h2>苏宁家电</h2>
                <div class="flex pic">
                    <div class="example">
                        <img src="" alt="">
                        <div class="name"></div>
                        <div class="price"></div>
                    </div>
                    <div class="example">
                        <img src="../images/lunbobottom3.png" alt="">
                        <div class="name">123</div>
                        <div class="price">345</div>
                    </div>
                    <div class="example">
                        <img src="" alt="">
                        <div class="name"></div>
                        <div class="price"></div>
                    </div>
                </div>
            </div>
            <div class="classify1">
                <h2>大聚惠</h2>
                <div class="flex pic">
                    <div class="example">
                        <img src="" alt="">
                        <div class="name"></div>
                        <div class="price"></div>
                    </div>
                    <div class="example">
                        <img src="../images/lunbobottom3.png" alt="">
                        <div class="name">123</div>
                        <div class="price">345</div>
                    </div>
                    <div class="example">
                        <img src="" alt="">
                        <div class="name"></div>
                        <div class="price"></div>
                    </div>
                </div>
            </div>
            <div class="classify1">
                <h2>手机电脑</h2>
                <div class="flex pic">
                    <div class="example">
                        <img src="" alt="">
                        <div class="name"></div>
                        <div class="price"></div>
                    </div>
                    <div class="example">
                        <img src="../images/lunbobottom3.png" alt="">
                        <div class="name">123</div>
                        <div class="price">345</div>
                    </div>
                    <div class="example">
                        <img src="" alt="">
                        <div class="name"></div>
                        <div class="price"></div>
                    </div>
                </div>
            </div>
            <div class="classify1">
                <h2>推荐榜单</h2>
                <div class="flex pic">
                    <div class="example">
                        <img src="" alt="">
                        <div class="name"></div>
                        <div class="price"></div>
                    </div>
                    <div class="example">
                        <img src="../images/lunbobottom3.png" alt="">
                        <div class="name">123</div>
                        <div class="price">345</div>
                    </div>
                    <div class="example">
                        <img src="" alt="">
                        <div class="name"></div>
                        <div class="price"></div>
                    </div>
                </div>
            </div>
        </div>

        <img src="../images/pdgc.png" class="space">

        <div class="flex1">
            <div class="classify2">
                <div class="h1"><a href="">空调<span>知您冷暖</span></a></div>
                <div class="flex1 eg">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </div>
            <div class="classify2">
                <div class="h"><a href="">空调<span>知您冷暖</span></a></div>
                <div class="flex1 eg">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </div>
            <div class="classify2">
                <div class="h"><a href="">空调<span>知您冷暖</span></a></div>
                <div class="flex1 eg">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </div>
            <div class="classify2">
                <div class="h"><a href="">空调<span>知您冷暖</span></a></div>
                <div class="flex1 eg">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </div>
            <div class="classify2">
                <div class="h"><a href="">空调<span>知您冷暖</span></a></div>
                <div class="flex1 eg">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </div>
            <div class="classify2">
                <div class="h"><a href="">空调<span>知您冷暖</span></a></div>
                <div class="flex1 eg">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </div>
        </div>

        <img src="../images/wntj.png" class="space">

        <div class="flex1">
            <a href="./commoditydetailpage.html"><div class="more">
                <img src="../images/logo.png" alt="">
                <p class="name2">1234</p>
                <p class="price2">￥34</p>
            </div></a>
            <a href="./commoditydetailpage.html"><div class="more">
                <img src="../images/logo.png" alt="">
                <p class="name2">1234</p>
                <p class="price2">￥34</p>
            </div></a>
            <a href="./commoditydetailpage.html"><div class="more">
                <img src="../images/logo.png" alt="">
                <p class="name2">1234</p>
                <p class="price2">￥34</p>
            </div></a>
            <a href="./commoditydetailpage.html"><div class="more">
                <img src="../images/logo.png" alt="">
                <p class="name2">1234</p>
                <p class="price2">￥34</p>
            </div></a>
            <a href="./commoditydetailpage.html"><div class="more">
                <img src="../images/logo.png" alt="">
                <p class="name2">1234</p>
                <p class="price2">￥34</p>
            </div></a>
            <a href="./commoditydetailpage.html"><div class="more">
                <img src="../images/logo.png" alt="">
                <p class="name2">1234</p>
                <p class="price2">￥34</p>
            </div></a>
            <a href="./commoditydetailpage.html"><div class="more">
                <img src="../images/logo.png" alt="">
                <p class="name2">1234</p>
                <p class="price2">￥34</p>
            </div></a>
            <a href="./commoditydetailpage.html"><div class="more">
                <img src="../images/logo.png" alt="">
                <p class="name2">1234</p>
                <p class="price2">￥34</p>
            </div></a>
            <a href="./commoditydetailpage.html"><div class="more">
                <img src="../images/logo.png" alt="">
                <p class="name2">1234</p>
                <p class="price2">￥34</p>
            </div></a>
            <a href="./commoditydetailpage.html"><div class="more">
                <img src="../images/logo.png" alt="">
                <p class="name2">1234</p>
                <p class="price2">￥34</p>
            </div></a>
        </div>
        
    </div>
    <div class="lsat">
        <p class="center big">
            <span><a href="#">苏宁互联</a></span> | <a href="#">苏宁金融</a>|<a href="#">苏宁支付</a>|<a href="#">PP视频</a>|<a href="#">苏宁物流</a>|<a href="#">零售云</a>|<a href="#">知识产权举报</a>|<a href="#">投资者关系</a>|<a href="#">苏宁智能</a>|<a href="#">苏宁易采云</a>
            <br />
            <a href="#">联系我们</a>|<a href="#">诚聘英才</a>|<a href="#">合作招商</a>|<a href="#">广告平台</a>|<a href="#">苏宁联盟</a>|<a href="#">鹊桥联盟</a>|<a href="#">苏宁招标</a>|<a href="#">隐私政策</a>|<a href="#">用户体验提升计划</a>|<a href="#">股东会员认证</a>
            <br />
        </p>
        <p class="center grey">
            Copyright© 2020-2022深圳市云网万店电子商务有限公司版权所有| 苏公网安备 32010202010078号| 粤ICP备2021027996号
            <br />
            江苏苏宁易购增值电信许可证| 出版物经营许可证新出发苏批字第A-243号| 互联网药品信息服务资格证书（苏）-非经营性-2021-0032
            <br />
            经营证照| 网络文化经营许可证：苏网文〔2018〕10580-203号| 互联网违法和不良信息举报邮箱：kfpt-yy@cnsuning.com| 举报电话：02566996699-865948
            <br />
            医疗器械网络交易服务第三方平台备案凭证-（苏）网械平台备字（2018）第00052号| 变更公告| 云网万店营业执照| 合字B2-20210115
            <br />
            网信算备440303176429902220013号
            <br />
            本网站直接或间接向消费者推销商品或者服务的商业宣传均属于“广告”（包装及参数、售后保障等商品信息除外）
            <br />
        </p>
    </div>
    <script src="../js/main.js"></script>
</body>
</html>