<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="shortcut icon" href="https://www.suning.com/favicon.ico">
</head>
<body>
    <div class="toptop">
        <img src="../images/maintop.jpg" />
        <span>X</span>
    </div>
    <div class="top">
        <div class="header">
        <div class="header1">
            <a href="">网站导航</a>
            <a href="">商家入驻</a>
            <a href="">客户服务</a>
            <a href="">杭州</a>
        </div>
        <div class="header2">
            <a href="">请登录</a>
            <a href="">注册有礼</a>
            <a href="">我的订单</a>
            <a href="">我的易购</a>
            <a href="">苏宁会员</a>
            <a href="">购物车</a>
            <a href="">易付宝</a>
            <a href="">企业采购</a>
            <a href="">手机苏宁</a>
        </div>
        </div>
    </div>
    <div class="search">
        <div class="searchbox">
            <img src="../images/logo.png">
            <i></i>
            <form>
                <input type="text" class="box">
                <input type="submit" value="搜索" class="submit1">
                <div class="q">
                    <a href="">手机</a>
                    <a href="">冰箱</a>
                    <a href="">电视</a>
                    <a href="">ipad</a>
                    <a href="">热水器</a>
                    <a href="">沙发</a>
                    <a href="">电饭煲</a>
                    <a href="">电动车</a>
                    <a href="">茅台</a>
                    <a href="">尿不湿</a>
                    <a href="">红枣</a>
                </div>
            </form>
        </div>
        
        <div>
            <a href="" class="index">
                <i></i>
                <spam>分类</spam>
            </a>
            <div class="fenlei1">
                <img src="../images/dajuhui.png" />
                <a href="">苏宁家电</a>
                <a href="">手机数码</a>
                <a href="">苏宁超市</a>
                <a href="">家具建材</a>
                <a href="">生活家电</a>
                <a href="">帮客服务</a>
                <a href="">药品信息</a>
            </div>
            <div>
                <img src="../images/gongshi.png" id="gongshi"/>
            </div>
        </div>
    </div>
    <div class="mainmain">
    <div class="main">
        <div class="classify">
            <ul>
                <li>
                    <a href="">空调</a>
                    <em>/</em>
                    <a href="">冰箱</a>
                    <em>/</em>
                    <a href="">洗衣机</a>
                </li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="lunbotu">
            <img src="../images/nianhuojie.png" class="nianhuojie"/>
            <span class="zuo"></span><span class="you"></span>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div class="lunbobottom">
                <a href=""><img src="../images/lunbobottom1.png" /></a>
                <a href=""><img src="../images/lunbobottom2.png" /></a>
                <a href=""><img src="../images/lunbobottom3.png" /></a>
                <a href=""><img src="../images/lunbobottom4.png" /></a>
            </div>
        </div>
        <div class="login"></div>
    </div>
    </div>
    <div class="width">
        <div class="flex1">
            <div class="classify1">
                <h2>苏宁家电</h2>
                <div class="flex pic">
                    <div class="example">
                        <img src="" alt="">
                        <div></div>
                        <div></div>
                    </div>
                    <div>
                        <img src="" alt="">
                        <div></div>
                        <div></div>
                    </div>
                    <div>
                        <img src="" alt="">
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="classify1">
                <h2>大聚惠</h2>
                <div class="flex pic">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="classify1">
                <h2>手机电脑</h2>
                <div class="flex pic">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="classify1">
                <h2>推荐榜单</h2>
                <div class="flex pic">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>