<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="toptop">
        <img src="../images/maintop.jpg" />
        <span>X</span>
    </div>
    <div class="top">
        <div class="header">
        <div class="header1">
            <a href="">网站导航</a>
            <a href="">商家入驻</a>
            <a href="">客户服务</a>
            <a href="">杭州</a>
        </div>
        <div class="header2">
            <a href="">请登录</a>
            <a href="">注册有礼</a>
            <a href="">我的订单</a>
            <a href="">我的易购</a>
            <a href="">苏宁会员</a>
            <a href="">购物车</a>
            <a href="">易付宝</a>
            <a href="">企业采购</a>
            <a href="">手机苏宁</a>
        </div>
    </div>
    </div>
    <div class="sousuo">
        <img>
        <div>
            <i></i>
            <form>
                <input type="text">
                <input type="submit">
            </form>
        </div>
        <div>
            <a href="">手机</a>
            <a href="">冰箱</a>
            <a href="">电视</a>
            <a href="">ipad</a>
            <a href="">热水器</a>
            <a href="">沙发</a>
            <a href="">电饭煲</a>
            <a href="">电动车</a>
            <a href="">茅台</a>
            <a href="">尿不湿</a>
            <a href="">红枣</a>
        </div>
        <div>
            <div></div>
            <div>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </div>
            <div>
                <img src="../images/gongshi.png" id="gongshi"/>
            </div>
        </div>
    </div>
    <div class="mainmain">
    <div class="main">
        <div class="classify"></div>
        <div class="lunbotu">
            <img src="../images/nianhuojie.png" class="nianhuojie"/>
            <span class="zuo"></span><span class="you"></span>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div class="lunbobottom">
                <a href=""><img src="../images/lunbobottom1.png" /></a>
                <a href=""><img src="../images/lunbobottom2.png" /></a>
                <a href=""><img src="../images/lunbobottom3.png" /></a>
                <a href=""><img src="../images/lunbobottom4.png" /></a>
            </div>
        </div>
        <div class="login"></div>
    </div>
    </div>
    <div></div>
</body>
</html>