<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/myorder.css">
    <link rel="shortcut icon" href="https://www.suning.com/favicon.ico">
</head>
<body>
    <div class="toptop">
        <div class="top">
            <div class="top1">
                <a href="">网站导航</a>
                <a href="">商家入驻</a>
                <a href="">客户服务</a>
                <a href="">杭州</a>
            </div>
            <div class="top2">
                <a href="">请登录</a>
                <a href="">注册有礼</a>
                <a href="">我的订单</a>
                <a href="">我的易购</a>
                <a href="">苏宁会员</a>
                <a href="">购物车</a>
                <a href="">易付宝</a>
                <a href="">企业采购</a>
                <a href="">手机苏宁</a>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="logo">
            <a href="./mysuning.html"></a>
        </div>
        <div class="nav1">
            <ul>
                <li>首页</li>
                <li>账户管理</li>
                <li>消息</li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="nav2">
            <dl>
                <dt>账户管理</dt>
                <dd>· 个人信息</dd>
                <dd>· 安全设置</dd>
                <dd>· 我的易付宝</dd>
                <dd>· 地址管理</dd>
                <dd>· 易付宝绑定设置</dd>
                <dd>· 绑定管理</dd>
                <dd>· 个人增票</dd>
                <dd>· 股东会员认证</dd>
                <dd>· 苏宁国际实名认证</dd>
            </dl>
        </div>
        <div class="order">
            <div class="flex orderhead">
                <h3>我的订单:</h3>
                <ul class="flex">
                    <li>我的订单</li>
                    <li>门店订单</li>
                    <li>苏宁卡</li>
                    <li>其他订单</li>
                </ul>
            </div>
            <div class="classify">
                <ul class="flex">
                    <li>全部订单</li>
                    <li>待付款<span class="num1">0</span></li>
                    <li>待收货<span class="num2">0</span></li>
                    <li>已完成<span class="num3">0</span></li>
                    <li>待评价<span class="num4">0</span></li>
                    <li>常购清单</li>
                </ul>
                <div class="search flex">
                    <input type="text" value="商品名称或订单号" class="searchbox">
                    <button class="btn">搜索订单</button>
                </div>
            </div>
            <div class="list">
                <ul class="littlehead flex">
                    <li>近三个月订单</li>
                    <li>单价</li>
                    <li>数量</li>
                    <li>商品操作</li>
                    <li>收货人</li>
                    <li>支付总金额</li>
                    <li>订单状态</li>
                    <li>操作</li>
                </ul>
                <ul class=" details flex">
                    <li class="list1"><input type="checkbox" class="check" ></li>
                    <li class="list2 pic"><img src="" alt=""></li>
                    <li class="list3 name"></li>
                    <li class="list4 version"></li>
                    <li class="list5 price"></li>
                    <li class="list6 num flex"></li>
                    <li class="list7 sum"></li>
                    <li class="list8"></li>
            </ul>
            </div>
        </div>
    </div>
    <div class="last">
        <p class="center big">
            <span><a href="#">苏宁互联</a></span> | <a href="#">苏宁金融</a>|<a href="#">苏宁支付</a>|<a href="#">PP视频</a>|<a href="#">苏宁物流</a>|<a href="#">零售云</a>|<a href="#">知识产权举报</a>|<a href="#">投资者关系</a>|<a href="#">苏宁智能</a>|<a href="#">苏宁易采云</a>
            <br />
            <a href="#">联系我们</a>|<a href="#">诚聘英才</a>|<a href="#">合作招商</a>|<a href="#">广告平台</a>|<a href="#">苏宁联盟</a>|<a href="#">鹊桥联盟</a>|<a href="#">苏宁招标</a>|<a href="#">隐私政策</a>|<a href="#">用户体验提升计划</a>|<a href="#">股东会员认证</a>
            <br />
        </p>
        <p class="center grey">
            Copyright© 2020-2022深圳市云网万店电子商务有限公司版权所有| 苏公网安备 32010202010078号| 粤ICP备2021027996号
            <br />
            江苏苏宁易购增值电信许可证| 出版物经营许可证新出发苏批字第A-243号| 互联网药品信息服务资格证书（苏）-非经营性-2021-0032
            <br />
            经营证照| 网络文化经营许可证：苏网文〔2018〕10580-203号| 互联网违法和不良信息举报邮箱：kfpt-yy@cnsuning.com| 举报电话：02566996699-865948
            <br />
            医疗器械网络交易服务第三方平台备案凭证-（苏）网械平台备字（2018）第00052号| 变更公告| 云网万店营业执照| 合字B2-20210115
            <br />
            网信算备440303176429902220013号
            <br />
            本网站直接或间接向消费者推销商品或者服务的商业宣传均属于“广告”（包装及参数、售后保障等商品信息除外）
            <br />
        </p>
    </div>
</body>
</html>