<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="https://www.suning.com/favicon.ico">
</head>
<body>
    <div class="top">
        <div class="top1">
            <a href="">网站导航</a>
            <a href="">商家入驻</a>
            <a href="">客户服务</a>
            <a href="">杭州</a>
        </div>
        <div class="top2">
            <a href="">请登录</a>
            <a href="">注册有礼</a>
            <a href="">我的订单</a>
            <a href="">我的易购</a>
            <a href="">苏宁会员</a>
            <a href="">购物车</a>
            <a href="">易付宝</a>
            <a href="">企业采购</a>
            <a href="">手机苏宁</a>
        </div>
    </div>
    <div class="header">
        <a href=""></a>
        <ul>
            <li>首页</li>
            <li>账户管理</li>
            <li>消息</li>
        </ul>
    </div>
    <div>
            <dl>
                <dt>账户管理</dt>
                <dd>·个人信息</dd>
                <dd>·安全设置</dd>
                <dd>·我的易付宝</dd>
                <dd>·地址管理</dd>
                <dd>·易付宝绑定设置</dd>
                <dd>·绑定管理</dd>
                <dd>·个人增票</dd>
                <dd>·股东会员认证</dd>
                <dd>·苏宁国际实名认证</dd>
            </dl>
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</body>
</html>