<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人信息</title>
    <link rel="stylesheet" href="../css/personal.css">
    <link rel="shortcut icon" href="https://www.suning.com/favicon.ico">
</head>
<body>
    <div class="toptop">
        <div class="top">
            <div class="top1">
                <a href="">网站导航</a>
                <a href="">商家入驻</a>
                <a href="">客户服务</a>
                <a href="">杭州</a>
            </div>
            <div class="top2">
                <a href="./login.html">请登录</a>
                <a href="./register.html">注册有礼</a>
                <a href="">我的订单</a>
                <a href="">我的易购</a>
                <a href="">苏宁会员</a>
                <a href="">购物车</a>
                <a href="">易付宝</a>
                <a href="">企业采购</a>
                <a href="">手机苏宁</a>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="logo">
            <a href="./mysuning.html"></a>
        </div>

        <div class="nav1">
            <ul>
                <li>首页</li>
                <li>账户管理</li>
                <li>消息</li>
            </ul>
        </div>
        
    </div>
    <div class="main">
        <div class="nav2">
            <dl>
                <dt>账户管理</dt>
                <dd>· 个人信息</dd>
                <dd>· 安全设置</dd>
                <dd>· 我的易付宝</dd>
                <dd>· 地址管理</dd>
                <dd>· 易付宝绑定设置</dd>
                <dd>· 绑定管理</dd>
                <dd>· 个人增票</dd>
                <dd>· 股东会员认证</dd>
                <dd>· 苏宁国际实名认证</dd>
            </dl>
        </div>
        <div class="big">
            <h3>
                <strong>个人信息</strong>
                <span>其他说明：您的会员编号为：，您可以凭此编号到苏宁任一门店消费。</span>
            </h3>
            <div class="xinxi1">
                <div class="touxiang"></div>
                <div class="yonghuming">
                    <div><input type="text" vaule="请输入用户名"></div>
                    <p>立即查看账户安全状态</p>
                </div>
            </div>
            <div class="xinxi2">
                <form action="">
                    <div class="line">
                        <div class="tips"><label for="nicheng">昵称：</label></div>
                        <div class="text"><input type="text" name="nicheng" id="nicheng"></div>
                    </div>
                    <div class="line">
                        <div class="tips"><label for="">性别：</label></div>
                        <div class="text1">
                            <input type="radio" name="sex" id="nan">
                            <label for="nan">男</label>
                            <input type="radio" name="sex" id="nv">
                            <label for="nv">女</label>
                            <input type="radio" name="sex" id="baomi" checked>
                            <label for="baomi">保密</label>
                        </div>
                    </div>
                    <div class="line">
                        <div class="tips"><label for="">手机：</label></div>
                        <div class="text">
                            <span></span>
                            <a href="">修改</a>
                        </div>
                    </div>
                    <div class="line">
                        <div class="tips"><label for="">邮箱：</label></div>
                        <div class="text">
                            <span></span>
                            <a href="">修改</a>
                        </div>
                    </div>
                    <div class="line">
                        <div class="tips"></div>
                        <div class="text">
                            <button id="push">保存</button>
                            <button id="delete">删除</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="last">
        <p class="center big">
            <span><a href="#">苏宁互联</a></span> | <a href="#">苏宁金融</a>|<a href="#">苏宁支付</a>|<a href="#">PP视频</a>|<a href="#">苏宁物流</a>|<a href="#">零售云</a>|<a href="#">知识产权举报</a>|<a href="#">投资者关系</a>|<a href="#">苏宁智能</a>|<a href="#">苏宁易采云</a>
            <br />
            <a href="#">联系我们</a>|<a href="#">诚聘英才</a>|<a href="#">合作招商</a>|<a href="#">广告平台</a>|<a href="#">苏宁联盟</a>|<a href="#">鹊桥联盟</a>|<a href="#">苏宁招标</a>|<a href="#">隐私政策</a>|<a href="#">用户体验提升计划</a>|<a href="#">股东会员认证</a>
            <br />
        </p>
        <p class="center grey">
            Copyright© 2020-2022深圳市云网万店电子商务有限公司版权所有| 苏公网安备 32010202010078号| 粤ICP备2021027996号
            <br />
            江苏苏宁易购增值电信许可证| 出版物经营许可证新出发苏批字第A-243号| 互联网药品信息服务资格证书（苏）-非经营性-2021-0032
            <br />
            经营证照| 网络文化经营许可证：苏网文〔2018〕10580-203号| 互联网违法和不良信息举报邮箱：kfpt-yy@cnsuning.com| 举报电话：02566996699-865948
            <br />
            医疗器械网络交易服务第三方平台备案凭证-（苏）网械平台备字（2018）第00052号| 变更公告| 云网万店营业执照| 合字B2-20210115
            <br />
            网信算备440303176429902220013号
            <br />
            本网站直接或间接向消费者推销商品或者服务的商业宣传均属于“广告”（包装及参数、售后保障等商品信息除外）
            <br />
        </p>
    </div>
    <script src="../js/personal.js"></script>
</body>
</html>