<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goods-Query-Page</title>
    <link rel="stylesheet" href="../css/query.css">
    <link rel="shortcut icon" href="https://www.suning.com/favicon.ico">
</head>

<body>
    <div class="toptop">
        <img src="../images/maintop.jpg" />
        <span>X</span>
    </div>
        <div class="header">
        <div class="header1">
            <a href="">网站导航</a>
            <a href="">商家入驻</a>
            <a href="">客户服务</a>
            <a href=""></a>
        </div>
        <div class="header2 flex">
            <a href="./login.html" class="">请登录</a>
            <a href="./register.html" class="">注册有礼</a>
            <a href="./mysuning.html" class="">
                <div class="dropdown">
                    <span class="dropbtn phonenum"></span>
                    <div class="dropdown-content">
                      <a href="../html/personal.html">账号管理</a>
                      <span class="sign-out">退出登录</span>
                    </div>
                </div>
            </a>
            <a href="">我的订单</a>
            <a href="">我的易购</a>
            <a href="">苏宁会员</a>
            <a href="">购物车</a>
            <a href="">易付宝</a>
            <a href="">企业采购</a>
            <a href="">手机苏宁</a>
        </div>
        </div>
    <!-- <div id="msg"></div> -->
    <div class="query-box">
        <div class="searchbox flex1">
            <img src="../images/logo.png">
            <div class="flex1">
                <input type="text" placeholder="请输入商品名" class="box" id="query-box">
                <button class="btn" id="search">搜索</button>
            </div>    
        </div>
        <div class="flex1">
            <div>
                <span>查找方式：</span>
                <input class="queryField" type="radio" name="queryField" id="queryField1" checked>
                <label for="queryField1"> 名称</label>
                <input class="queryField" type="radio" name="queryField" id="queryField2" >
                <label for="queryField2">种类</label>
            </div>
            <div class="paixu">
                <span>排序方法：</span>
                <select name="rangeField" id="rangeField">
                    <option value="1" selected="selected">销量</option>
                    <option value="2">价格</option>
                    <option value="3">评分</option>
                </select>
                <select name="method" id="method">
                    <option value="0" selected="selected">降序</option>
                    <option value="1">升序</option>
                </select> 
            </div>
   
        </div>


    </div>

    <div class="body flex">
        <div class="goods-box" id="link1">
            <a class="goods-link" href="#">
                <img src="" alt="" class="goods-picture" id="goods-picture1">
                <p class="name" id="name1">1</p>
                <p class="price" id="price1">1</p>
            </a>
        </div>
        <div class="goods-box" id="link2">
            <a class="goods-link" href="#">
                <img src="" alt="" class="goods-picture" id="goods-picture2">
                <div class="name" id="name2">2</div>
                <div class="price" id="price2">2</div>
            </a>
        </div>
        <div class="goods-box" id="link3">
            <a class="goods-link" href="#">
                <img src="" alt="" class="goods-picture" id="goods-picture3">
                <div class="name" id="name3">3</div>
                <div class="price" id="price3">3</div>
            </a>
        </div>
        <div class="goods-box" id="link4">
            <a class="goods-link" href="#">
                <img src="" alt="" class="goods-picture" id="goods-picture4">
                <div class="name" id="name4">4</div>
                <div class="price" id="price4">4</div>
            </a>
        </div>
        <div class="goods-box" id="link5">
            <a class="goods-link" href="#">
                <img src="" alt="" class="goods-picture" id="goods-picture5">
                <div class="name" id="name5">5</div>
                <div class="price" id="price5">5</div>
            </a>
        </div>
        <div class="goods-box" id="link6">
            <a class="goods-link" href="#">
                <img src="" alt="" class="goods-picture" id="goods-picture6">
                <div class="name" id="name6">6</div>
                <div class="price" id="price6">6</div>
            </a>
        </div>
        <div class="goods-box" id="link7">
            <a class="goods-link" href="#">
                <img src="" alt="" class="goods-picture" id="goods-picture7">
                <div class="name" id="name7">7</div>
                <div class="price" id="price7">7</div>
            </a>
        </div>
        <div class="goods-box" id="link8">
            <a class="goods-link" href="#">
                <img src="" alt="" class="goods-picture" id="goods-picture8">
                <div class="name" id="name8">8</div>
                <div class="price" id="price8">8</div>
            </a>
        </div>
        <div class="goods-box" id="link9">
            <a class="goods-link" href="#">
                <img src="" alt="" class="goods-picture" id="goods-picture9">
                <div class="name" id="name9">9</div>
                <div class="price" id="price9">9</div>
            </a>
        </div>
        <div class="goods-box" id="link10">
            <a class="goods-link" href="#">
                <img src="" alt="" class="goods-picture" id="goods-picture10">
                <div class="name" id="name10">10</div>
                <div class="price" id="price10">10</div>
            </a>
        </div>
    </div>
    <script src="../js/query.js"></script>
</body>
</html>