<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="https://www.suning.com/favicon.ico">
    <link rel="stylesheet" href="../css/right.css">
    <link rel="stylesheet" href="../font_3871928_4eg70o15tvv/iconfont.css">
</head>
<body>
    <div class="tab">
        <div class="right1">
            <a href=""></a>
            <img src="../images/tabimg.png" />
        </div>

        <div class="right2">
            <div class="right3">
                <div class="personicon">
                    <span clasa="iconfont icon-wodejuhuasuan"></span>
                </div>
                <div class="shoppingcart">
                    <span class="iconfont icon-gouwuche"></span>
                    <span class="gouwuche">购物车</span>
                    <span class="number">0</span>
                </div>
                <div class="xiaoxizhongxin"><span class="iconfont icon-xiaoxizhongxin"></span></div>
            </div>
            <div class="right4">
                <div>
                    <span class="iconfont icon-rmb"></span>
                    <span class="rmb moved">理财</span>
                </div>
                <div>
                    <span class="iconfont icon-history"></span>
                    <span class="history moved">足迹</span>
                </div>
                <div>
                    <span class="iconfont icon-xianxing-15"></span>
                    <span class="qiandao moved">签到</span>
                </div>
                <div>
                    <span class="iconfont icon-hongbao"></span>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="right5">
            <div>
                <span>1</span>
                <span></span>
            </div>
            <div>
                <span>2</span>
                <span></span>
            </div>
            <div>
                <span>3</span>
                <span></span>
            </div>
            <div>
                <span>4</span>
                <span></span>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../js/right.js"></script>
</body>
    
</html>