<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="btn">提交</button>
    <script>
         const btn = document.querySelector('#btn')
         btn.addEventListener('click',async()=>{
        //     const res = await fetch('http://39.101.72.18:9999/', {
        //     method: "post",
        //     headers: {
        //         'Content-Type': 'application/json; charset=utf-8'
        //     },
        //     body: JSON.stringify({
        //         name :"123",
        //         age :123,
        //         sex :"女",
        //     })
        //   })
        const fd = new FormData();
        fd.append("username","qwer");
        fd.append("password","111111");
        const res = await fetch('http://39.101.72.18:9090/user/login', {
            method: "post",
            body: fd,
        })
      const data = await res.json();
      console.log(data);
         })

    </script>
</body>
</html>
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="https://www.suning.com/favicon.ico">
</head>

<body>

    <input type="text" id="username"><br>
    <input type="password" id="password"><br>
    <button id="btn" onclick=a()>登录<buttton>
    <script>
        const btn = document.querySelector('#btn')
        const u = document.querySelector('#username')
        const p = document.querySelector('#password')
        btn.addEventListener('click', function () {
            ajax({
                method: 'POST',
                url: 'http://39.101.72.18:9090/user/login',
                data: {
                    username: u.value,
                    password: p.value,
                },
                success: function (res) {
                    console.log(res);
                },
                err: function (res) {
                    alert(res['msg'])
                },
            })
        })

    </script>
    <script>
        //封装
        function resloveData(data) {
            var arr = []
            for (var k in data) {
                var str = k + '=' + data[k]
                arr.push(str)
            }
            return arr.join('&')
        }

        function ajax(options) {

            var xhr = new XMLHttpRequest()
            var qs = resloveData(options.data)
            if (options.method.toUpperCase() === 'GET') {
                xhr.open(options.method, options.url + '?' + qs)
                xhr.send()
            } else if (options.method.toUpperCase() === 'POST') {
                xhr.open(options.method, options.url)
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
                xhr.send(qs)
            }

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var result = JSON.parse(xhr.responseText)
                    if (result['msg'] == '200') {
                        return options.success(result)
                    } else {
                        return options.err(result)
                    }
                }
            }
        }
    </script>
</body>

<html> -->
