*{
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
    color:#666666;
}
li{
    list-style: none;
}

.ad span a{
    display: block;
    width: 50px;
    height: 50px;
    background-color: blueviolet;
}



/* 设置下拉按钮的样式 */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  /* 容器 <div> - 需要放置下拉内容 */
  .dropdown {
    position: relative;
    float:left;
  }
  /* 下拉内容（默认隐藏） */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  /* 下拉链接 */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  /* 悬停时更改下拉链接的颜色 */
  .dropdown-content a:hover {background-color: #f1f1f1}
  /* 悬停时显示下拉菜单 */
  .dropdown:hover .dropdown-content {
    display: block;
  }
.kinds ul li{
    float:left;
    padding: 10px;
}

.kinds{
    height: 48px;
    background-color: blue;
}

.index1 .left2{
    float:left;
    padding: 0px 6px;
    color:#BBBBBB;
} 
.index1 .left1{
    float:left;
    position: relative;
    height: 16px;
    border:1px;
}
.index1 .left1 ul{
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: #4CAF50;
    display: none;
}