*{
    margin:0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #666666;
}
li{
    list-style: none;

}

.toptop{
    height: 100px;
    background-color:#c11312;
    position: relative;
}
.toptop img{
    width:1190px;
    height:100px;
    display:block;
    margin:0 auto;
}
.toptop span{
    position: absolute;
    top:0;
    left:1530px;
    height:15px;
    width:15px;
    background: rgba(177, 166, 166, 0.3);
    font-size: 15px;
    line-height: 15px;
    text-align: center;
}

.top{
    height:35px;
    background-color: #f5f5f5;
}
.header{
    height:35px;
    width:1190px;
    margin:0 auto;
    text-align: center;
    line-height: 35px;
}
.header .header1{
    float:left;
}
.header .header2{
    float:right;
}

.search{
    height: 150px;
    width: 1190px;
    margin: 0 auto;
    background-color: antiquewhite;
}
.search .searchbox{
    height: 110px;
    width: 100%;
}
.searchbox img{
    float: left;
    width: 200px;
    height: 45px;
    margin:20px;
}
.searchbox .box{
    float: left;
    height: 35px;
    width: 420px;
    margin-top: 20px;
    outline: none;
}
.searchbox .submit1{
    float: left;
    height: 38px;
    margin: 0px;
    border:0px; 
    margin-top: 20px;
    padding-left: 40px;padding-right: 40px;
    background-color: #ff8000;
    color: white;
    font-weight: bold;
    text-indent: 2px;
    font-size: 20px;
}
.searchbox .q{
    float: left;
    padding-left: 3px;
}
.search .index{
    display: block;
    float: left;
    width: 200px;
    height: 40px;
    background-color: #ff8000;
    border-radius: 10px 10px 0px 0px;
    color: #fff;
    font-size: 15px;
    line-height: 40px;
}
.search .fenlei1{
    float:left;
    width: 790px;
    height: 40px;
}
.fenlei1 img{
    float:left;
    height: 40px;
    width: auto;
}
.fenlei1 a{
    display: block;
    float:left;
    margin: 5px;
    padding: 5px;
}
.search #gongshi{
    width: 200px;
    height: 40px;
    float:right;
}

.mainmain{
    height: 479px;
    background-color:#ac93d7;
}
.main{
    width: 1190px;
    height: 479px;
    /* background-color: antiquewhite; */
    margin: 0 auto;
    position: relative;
}
.main .lunbotu{
    width: 790px;
    height: 479px;
    float:left;
    background: url(../images/lunbo1.jpg) center no-repeat;
}
.lunbotu .nianhuojie{
    width: 180px;
    height: 57px;
    position: absolute;
    border-radius: 0px 0px 10px 10px;
    left:200px;
}
.lunbotu .zuo{
    position: absolute;
    top:162px;
    left:200px;
    width: 25px;
    height: 62px;
    background-color: #c11312;
    border-radius: 0px 5px 5px 0px;
}
.lunbotu .you{
    position: absolute;
    top:162px;
    right:200px;
    width: 25px;
    height: 62px;
    background-color: #c11312;
    border-radius: 5px 0px 0px 5px;
}

.lunbotu ul{
    position: absolute;
    top: 345px;
    left: 486px;
    width: 224px;
    height: 4px;
}
.lunbotu ul li{
    float:left;
    width: 20px;
    height: 4px;
    margin-left: 8px;
    /* background-color: rgba(255,255,255,.5); */
    background-color: #c11312;
}
.lunbobottom{
    height: 112px;
    width: 790px;
    position: absolute;
    bottom: 0px;
    margin-left: 2px;
}
.lunbobottom a{
    display: block;
    float: left;
    width: 194px;
    height: 112px;
    margin-left: 2px;
}
.lunbobottom img{
    width: 194px;
    height: 112px;
}

.main .classify,.login{
    width: 200px;
    height: 479px;
    float:left;
    background-color: aquamarine;
}
.classify ul li{
    width: 200px;
    height: 31px;
    background-color: #fff;
}
