*{
    margin:0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #666666;
}
li{
    list-style: none;
}

.toptop{
    height: 35px;
    background-color: #f5f5f5;
}
.top{
    height:35px;
    width:1190px;
    margin:0 auto;
    text-align: center;
    line-height: 35px;
    
}
.top .top1{
    float:left;
}
.top .top2{
    float:right;
}


.header{
    height: 60px;
    width: 100%;
    background-color: #ff7700;
    display: flex;
    align-items: center;
}
.header .logo{
    position: relative;
    height: 60px;
    width: 430px;
}
.header .logo a{
    display: block;
    position: absolute;
    height: 60px;
    width: 140px;
    left:290px;
    background: url(../images/ms-logo.png) center no-repeat;
}
.header .nav1{
    float: left;
    height: 60px;
    padding-left: 160px;
    
}
.header .nav1 ul li{
    float:left;
    height: 60px;
    color:#f5f5f5;
    font-size: 15px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
    line-height: 60px;
}
.main{
    position: relative;
    width: 1240px;
    height: 600px;
    margin:0px auto;
    background-color: aquamarine;
}
.main .nav2{
    position: absolute;
    top:0px;
    left:0px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 35px;
}
.main .nav2 dt{
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 15px;
}
.main .nav2 dd{
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    padding-left: 5px;
    color: #666666;
}
.main .nav2 dd:hover{
    color:orange;
    cursor:pointer;
}




.last .center {
    text-align:center;
    font-size: 10px;
}
.last .grey {
    font-size:8px;
    color:#999999;
}