*{
    margin:0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #666666;
}
li{
    list-style: none;
}

.toptop{
    height: 35px;
    background-color: #f5f5f5;
}
.top{
    height:35px;
    width:1190px;
    margin:0 auto;
    text-align: center;
    line-height: 35px;
    display: flex;
    justify-content: space-between;
}



.header{
    height: 60px;
    width: 100%;
    background-color: #ff7700;
    display: flex;
    align-items: center;
}
.header .logo{
    position: relative;
    height: 60px;
    width: 430px;
}
.header .logo a{
    display: block;
    position: absolute;
    height: 60px;
    width: 140px;
    left:290px;
    background: url(../images/ms-logo.png) center no-repeat;
}
.header .nav1{
    float: left;
    height: 60px;
    padding-left: 160px;
    
}
.header .nav1 ul li{
    float:left;
    height: 60px;
    color:#f5f5f5;
    font-size: 15px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
    line-height: 60px;
}
.main{
    position: relative;
    width: 1240px;
    height: 650px;
    margin:0px auto;
}
.main .nav2{
    position: absolute;
    top:0px;
    left:0px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 35px;
    background-color: #fff;
    border:1px solid #999999;
}
.main .nav2 dt{
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 15px;
}
.main .nav2 dd{
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    padding-left: 5px;
    color: #666666;
}
.main .nav2 dd:hover{
    color:orange;
    cursor:pointer;
}
.main .big{
    position: absolute;
    top:10px;
    right:0px;
    height: 575px;
    width: 1068px;
    background-color: #fff;
    border: 1px solid #666666;
}
.main .big h3{
    display: flex;
    justify-content: space-between;
    margin:3px 5px;
    padding-bottom: 5px;
    color: #666666;
}

.main .big .xinxi1{
    height: 200px;
    display: flex;
    align-items: center;
    border-bottom:1px solid #666666;
}
.main .big .xinxi1 .touxiang{
    height: 130px;
    width: 130px;
    border-radius: 65px;
    border: 2px solid #e3e3e3;
    margin-left: 90px;
    margin-right: 25px;
}
.main .big .yonghuming input{
    height: 12px;
    width: 150px;
    padding: 7px 5px;
    margin-bottom: 10px;
}
.main .big .yonghuming p{
    margin-top: 10px;
    font-size:12px;
}



.main .xinxi2 .line{
    display: flex;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
}
.main .xinxi2 input{
    height: 12px;
    width: 150px;
    padding: 7px 5px;
}

.main .xinxi2 .tips{
    width: 190px;
    height: 20px;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
}
.main .xinxi2 .text button{
    height: 30px;
    width: 80px;
    margin-right: 42px;
}
#push{
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
}
#delete{
    background-color: #fff;
    color:#666666;
    border: 1px solid #999999;
    border-radius: 5px;
}



.last .center {
    text-align:center;
    font-size: 10px;
}
.last .grey {
    font-size:8px;
    color:#999999;
}