*{
    margin:0px;
    padding:0px;
}
a {
    text-decoration: none;
    color:#666666;
}

.top{
    width: 900px;
    height: 100px;
    background:url(../images/logo.png) left no-repeat;
    margin:0 auto;
}
.top h2{
    padding:0px 250px;
    line-height: 100px;
}
.top a{
    color: #000;
}
.phonenumber,
.password,
.yanzhengma{
    display: flex;
    flex-direction: row;
}
.main{
    width: 990px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-top: 3px solid #f90;
    background: #fff;
    padding: 55px 0;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}
.main input{
    display: block;
    width: 375px;
    height: 35px;
    margin:30px auto;
}