* {
    margin:0;
    padding:0;
}
a {
    text-decoration: none;
    color:#666666;
}

.div1{
    height:100px;
    width:970px;
    margin:0 auto;
}
#logo1{
    display:block;
    height:30px;
    width:100px;
    background-image: url();
}
.lefttop{
    text-align: center;
    font: 12px 'Microsoft YaHei';
    border:#fecd66 2px solid;
    background: #fefff1;
}

.div2{
    height:570px;
    width:970px;
}
.suning{
    float:left;
    display:block;
    width:630px;
    height:500px;
    background-color: aqua;
}
.login{
    float:left;
    width:300px;
    height:300px;
    background-color: aquamarine;
}
h3 {
    width:149px;
    height:25px;
    float:left;
    border-bottom:1px solid #bcb9b9;
    font-weight: normal;
    text-align: center;
}



.center {
    text-align:center;
    font-size: 10px;
}
.grey {
    font-size:8px;
    color:#999999;
}