* {
    margin:0;
    padding:0;
}
a {
    text-decoration: none;
    color:#666666;
}

.div1{
    height:100px;
    width:975px;
    margin:0 auto;
}
#logo1{
    display:block;
    float:left;
    height:100px;
    width: 200px;
    background: url(../images/registerheader.png) center no-repeat;
}   
.lefttop{
    float:right;
    height:100px;
}
.lefttop p{
    margin-top: 45px;
    text-align: center;
    font: 10px 'Microsoft YaHei';
    padding:7px;
    border:#fecd66 2px solid;
    background: #fefff1;
}
.lefttop a{
    float:right;
}

.div2{
    height:570px;
    background: url(../images/registermain.jpg) center no-repeat;
}
.ddiv2{
    width: 975px;
    height: 570px;
    margin:0 auto;
    /* background-color: #fecd66; */
}
.suning{
    float:left;
    display:block;
    width:600px;
    height:570px;
}
.login{
    float:left;
    width:355px;
    height:425px;
    margin-left: 10px;
    margin-top: 50px;
    background-color: rgb(252, 252, 252);
}
h3 {
    width:175px;
    height:48px;
    float:left;
    border-bottom:1px solid #bcb9b9;
    font-weight: normal;
    text-align: center;
    line-height: 48px;
    margin-bottom: 42px;
}
.login input{
    height:40px;
    width:300px;
    margin-bottom:25px;
    margin-left:25px;
}



.center {
    text-align:center;
    font-size: 10px;
}
.grey {
    font-size:8px;
    color:#999999;
}