*{
    margin:0px;
    padding:0px;
}
a {
    text-decoration: none;
    color:#666666;
}

.top{
    width: 900px;
    height: 100px;
    background:url(../images/registerheader.png) left no-repeat;
    margin:0 auto;
}
.top h2{
    padding:0px 250px;
    line-height: 100px;
}
.top a{
    color: #000;
}
.main{
    width: 900px;
    height: 500px;
    background-color: bisque;
    margin:0 auto;
}
.main input{
    display: block;
    width: 375px;
    height: 35px;
    margin:30px auto;
}