*{
    margin:0;
    padding: 0;
}
body{
    background-color: #f2f2f2;
}
a{
    text-decoration: none;
    color: #666666;
}
li{
    list-style: none;
}
.flex{
    display: flex;
    align-items: center;
}



.center {
    text-align:center;
    font-size: 10px;
}
.grey {
    font-size:8px;
    color:#999999;
}
.top{
    height:35px;
    width:1190px;
    margin:0 auto;
    text-align: center;
    line-height: 35px;
    
}
.top .top1{
    float:left;
}
.top .top2{
    float:right;
}
.top3{
    display: flex;
    height: 110px;
    width: 1190px;
    margin:0 auto;
}
.top3 img{
    width: 200px;
    height: 45px;
    margin:20px;
}
.top3 input{
    height: 35px;
    width: 420px;
    margin-top: 20px;
    outline: none;
    border:2px solid #ff8000;
    border-radius: 10px 0 0 10px;
    padding-left: 10px;
}
.top3 button{
    height: 40px;
    width: 100px;
    margin: 0px;
    border:0px; 
    border-radius: 0 10px 10px 0;
    margin-top: 20px;
    background-color: #ff8000;
    color: white;
    font-weight: bold;
    text-indent: 2px;
    font-size: 15px;
}