* {
    margin: 0;
    padding: 0;
    font-family: '微软雅黑';
}

.top {
    font-size: 12px;
    text-align: center;
    line-height: 35px;
    height: 35px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;

}

.top>div {
    display: inline-block;
    height: 35px;
    width: 1190px;
    background-color: f5f5f5;

}

.left-top {
    float: left;
}

a {
    color: #333;
    text-decoration: none;
    font-style: normal;
}

.price:hover,
.name:hover {
    color: #ff6600;
}

.top a {
    display: inline-block;
    width: 93px;
    height: 35px;
    background-color: #f5f5f5;
    color: #666;
    text-decoration: none;
    font-style: normal;
}

.right-top {
    float: right;
}

.top a:hover {
    color: #f60;
    background-color: #fff;
}

body {
    text-align: center;
    font: 12px/1.5 "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
}


html {
    background: #eee;
    display: block;
    width: 1872px;
}

.query-box {
    text-align: center;
    height: 60px;
    padding: 35px 0 0 0;
}

#msg,
#query-box {
    float: left;
    height: 40px;
}

#query-box {
    width: 500px;
}

.body {
    width: 1872px;
}

#search {
    font-size: 16px;
    width: 60px;
    height: 43px;
    margin: 0 0 0 20px;
    float: left;
}

.goods-box {
    margin: 20px 67px;
    height: 330px;
    background: #ccc;
    width: 230px;
    float: left;
}

.goods-picture {
    margin: 0;
    height: 230px;
    width: 230px;
}

.name,
.price {
    text-align: left;
    line-height: 40px;
    width: 225px;
    height: 47.5px;
    padding: 0 0 0 5px;
}

.price {
    font-size: larger;
    font-weight: 600;
}

.name:hover,
.price:hover {
    background: #bbb;
}

#msg {
    line-height: 120px;
    height: 95px;
    width: 360px;
    float: left;
    font-size: 18px;
    color: red;
    padding: 0 0 0 100px;
}